{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title%} Base HTML {% endblock %}</title>

</head>
<body class="bg-ruby">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <br>
                <br>
                <br>
                <div class="panel panel-body">
                    <h3 class="text-center text-uppercase">
                        <b>
                            {% block body%}
                                menu
                            {% endblock %}
                        </b>
                    </h3>
                </div>

            </div>
        </div>
    </div>




<h2>Footer</h2>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="{% static 'scripts/bootstrap.js' %}"></script>
</body>
</html>