{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}
Каталог кофе
{% endblock %}

{% block body %}
    <h2>main page</h2>

    <div>

        {{coffee.brand}}
        {{coffee.name }}
        {{coffee.price }}

        <img src="{{coffee.photo.url}}" alt="">
    </div>

    <div>
        <h2>Order</h2>
        {% if sent %}
            <h2>Спасибо Ваша заявка принята</h2>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Send">

        </form>
    </div>

{% endblock %}
